*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}
.logo{
    color: #fff;
    margin-top: 150px;
    font-family: Montserrat-Bold;
    font-size: 20px;
}
.log-in-container{
    display: flex;
}
.log-in-container>a{
    text-decoration: none;
    color: #fff;
    font-family: Montserrat-Bold;
    font-size: 11pt;
}
.log-in,.sign-up{
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 20px; 
}
.log-in:hover,.sign-up:hover{
    border-color: #fff;  
}
.section-main{
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-main::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/main-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
.section-main::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(48, 11%, 9%, 0.1);
    z-index: -1;
}
.text-main{
    color:#fff;
    flex-wrap: nowrap;
    text-align: center;
}
.title{
    width: 300px;
    margin-top: -180px;
    font-family: Montserrat-Bold;
    font-size: 30px;
    text-transform: uppercase;
}
.title-under{
    font-family: Roboto-Light;
    font-size: 18px;
    margin-top: 15px;
}
.title-button{
    width: 280px;
    height: 40px;
    border: none;
    background: #ff4e50;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 18px;
    font-family: Montserrat-Bold;
    font-size: 14px;
    color: #fff;
}
.title-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-partners,.partners-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partners-title{
    text-align: center;
    margin-top: 70px;
    font-family: Montserrat-Bold;
    font-size: 22pt;
}
.partner-title,.partners-button{
    font-family: Montserrat-Bold;
    font-size: 14pt;
}
.partners-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.partner{
    width: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.partner-title{
    margin-top: 20px;
}
.partner-text{
    text-align: center;
    margin-top: 15px;
    font-family: Roboto-Light;
    font-size: 14pt;
    color: #666;
}
.partner-img{
  border-radius: 50%;
}
.partner-img-container{
  position: relative;
}
.partner-img-container::after{
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    bottom: 0;
    left: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid #fff;
}
.partner-img-container-1::after{
    background-image: url(../img/icon-tv.png);  
}
.partner-img-container-2::after{
    background-image: url(../img/icon-coffee.png);
}
.partner-img-container-3::after{
    background-image: url(../img/icon-chemistry.png);
}
.partner-img-container-4::after{
    background-image: url(../img/icon-plane.png);
}
.partners-button{
    border: 2px solid #ff4e50;
    border-radius: 20px;
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff4e50;
    margin-top: 30px;
    margin-bottom: 50px;
    
}
.partners-button:hover{
    background-color: hsla(359, 100%, 88%, 0.827);
    cursor: pointer;
}
.partners-button-container>a{
    text-decoration: none;
}
@media screen and (min-width: 768px) and (orientation: landscape) and (max-width: 960px){
    .title{
        font-size: 32pt;
        width: 500px;
    }
    .title-under{
        margin-top: 40px;
        font-size: 18px;
    }
    .title-button{
        margin-top: 35px;
        width: 225px;
    }
    .partner{
        width: 319px;
    }
    .partner:nth-child(2n){
        margin-left: 130px;
    }
    .partners-button{
        margin-top: 35px;
    }
    .header{
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-start;
    }
    .logo{
        margin-top: 10px;
    }
}
@media screen and (min-width: 961px){
    .title{
        font-size: 32pt;
        width: 500px;
    }
    .title-under{
        margin-top: 40px;
        font-size: 18px;
    }
    .title-button{
        margin-top: 35px;
        width: 225px;
    }
    .partner{
        width: 13.666%;
        margin-left: 4%;
    }
    .partner:first-child{
        margin-left: 2%;
    }
    .partners-button{
        margin-top: 40px;
    }
    .header{
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-start;
    }
    .logo{
        margin-top: 0;
    }
}
