.site-logo {
  font-family: Montserrat-Bold;
  color: #fff;
  font-size: 30pt;
}
.nav__link {
  font-family: Montserrat-Regular;
  font-size: 14pt;
}
.pre-title {
  font-family: KaushanScript-Regular;
  font-size: 24pt;
}
.title {
  font-family: Montserrat-Bold;
  font-size: 30pt;
 }
.services__title {
  font-family: Montserrat-Regular;
  font-size: 14pt;
}
.services__under-title {
  font-family: Roboto-Regular;
  font-size: 15pt;
  color: #999999;
}
.title__under-text {
  font-family: Roboto-Regular;
  color: #999999;
  font-size: 15pt;
}
.team__name {
  font-size: 14pt;
  font-family: Montserrat-Regular;
}
.team__name-info {
  font-size: 15pt;
  font-family: Roboto-LightItalic;
  color: #999999;
}
.footer__info {
  font-size: 14pt;
  font-family: Montserrat-Regular;
}
.footer__email-options {
  font-size: 15pt;
  font-family: Roboto-LightItalic;
}
.footer__info > span {
  color: #f38181;
}
.footer__submit-options {
  font-size: 14pt;
  font-family: Montserrat-Bold;
  color: #fff;
}