*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-wrapper{
  display: block;
  background-image: url(../img/baner@2x.png);
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height:600px;
}
.header-wrapper::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(243, 129, 129, 0.9),rgba(251, 226, 135, 0.9))
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header-wrapper{
  background-image: url(../img/baner.png);
  }
}
.header {
  position: absolute;
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
}
.site-logo {
  margin-top: 35px;
  align-self: center;
}
.nav{
  margin-top: 35px;
}
.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  margin-top: 15px;
}
.nav__item {
  position: relative;
  margin-right: 10px;
}
.nav__item--icon{
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  padding: 5px;
}
.icon{
  display: block;
  width: 100%;
  height: 100%;
}
.nav__link {
  text-decoration: none;
  padding: 5px;
  color: #fff;
  transition: color 0.2s linear;
}
.nav__link::after {
  position: absolute;
  content: "";
  width: 85%;
  height: 3px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fce38a;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.nav__link:hover::after {
  opacity: 1;
}
.nav__link:hover {
  color: #fce38a;
}
.nav__link--icon{
  fill: #fff;
  transition: fill 0.2s linear;
}
.nav__link--icon:hover{
  cursor: pointer;
  fill: #fce380;
}
.header__title-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__pre-title, .header__title, .header__button {
  z-index: 1;
}
.header__pre-title{
  font-family: KaushanScript-Regular;
  margin-top: 130px;
  font-size: 36px;
  color: #fff;
}
.header__title{
  font-family: Montserrat-Bold;
  margin-top: 25px;
  font-size: 75px;
  color: #fff;
  text-transform: uppercase;
  width: 500px;
  text-align: center;
}
.header__button{
  text-transform: uppercase;
  font-family: Montserrat-Bold;
  font-size: 12pt;
  margin-top: 50px;
  color: #fff;
  border: #fff solid 3px;
  background: inherit;
  width: 150px;
  height: 40px;
}
.title-wrapper {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
.title {
  position: relative;
  text-transform: uppercase;
  margin-top: 20px;
}
.title::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background: red;
}

.services__icon-wrapper{
  display: block;
  width: 70px;
  height: 40px;
}
.services__icon{
  vertical-align: top;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  max-width: 1300px;
  margin:auto;
}

.service {
  display: flex;
  flex-basis: 380px;
  margin-top: 100px;
  justify-content: space-between;
}
.services__title {
  text-transform: uppercase;
}
.services__under-title {
  margin-top: 10px;
}
.services__icon-wrapper {
  margin-right: 30px;
}

.title-under-text {
  display: flex;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 60px;
}
.title__under-text{
  margin-top: 90px;
  text-align: center;
  max-width: 960px;
}
.title__under-text-wrapper{
  display: flex;
  justify-content: center;
}
.team {
  display: flex;
  margin-top: 90px;
  justify-content: center;
  flex-wrap: wrap;
}
.team-wrapper {
  margin-right: 30px;
}
.team-wrapper:last-child {
  margin-right: 0;
}
.team__img {
  width: 380px;
  height: 470px;
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px #95e1d3;
  transform: translate(0px, 0px);
  transition: box-shadow 0.2s linear, transform 0.2s linear;
}
.team__img--1 {
  background-image: url(../img/Team-photo1@2x.jpg);
}
.team__img--2 {
  background-image: url(../img/Team-photo2@2x.jpg);
}
.team__img--3 {
  background-image: url(../img/Team-photo3@2x.jpg);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .team__img--1 {
    background-image: url(../img/Team-photo1.jpg);
  }
  .team__img--2 {
    background-image: url(../img/Team-photo2.jpg);
  }
  .team__img--3 {
    background-image: url(../img/Team-photo3.jpg);
  }
}
.team__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#f38181, #fce380);
  opacity: 0;
  transition: opacity 0.2s linear;
}
.team__img:hover::before {
  opacity: 0.9;
}
.team__img:hover {
  box-shadow: 10px 10px #95e1d3;
  transform: translate(-10px, -10px);
}
.team__button-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.team__img:hover .team__button-wrapper {
  opacity: 1;
}
.team__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #fce38a;
  transition: background-color 0.2s linear;
}
.team__button:hover {
  background-color: #95e1d3;
}
.team__link {
  margin-right: 1px;
}
.team__link:last-child {
  margin: 0;
}
.team__name-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.team__name {
  text-transform: uppercase;
  margin-bottom: 17px;
}
.team__icon{
  width: 32px;
  height: 32px;
  fill:#fff;
  transition: fill 0.2s linear;
}
.team__button:hover .team__icon{
  fill:#f38181;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-wrapper {
  margin-top: 80px;
  display: flex;
  width: 80%;
  max-width: 1200px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}
.footer__email {
  display: block-inline;
}
.footer__email-options {
  height: 40px;
  width: 240px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
.footer__submit-options {
  width: 150px;
  height: 40px;
  background: #95e1d3;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transform: translate(-5px, -1px);
}
