body {
  font-family: Marian Pro;
}
.h1 {
  font-size: 48pt;
}
.h1:first-of-type {
  font-style: inherit;
}
.header-logo::first-letter {
  color: hsl(192, 100%, 50%);
}
h1 {
  text-transform: uppercase;
}
.header-logo {
  font-size: 30pt;
}
.nav-item {
  font-size: 14pt;
}
.product-name > p {
  color: white;
}
.product-name > span {
  font-size: 18px;
  color: white;
}
.news > buttom {
  font-size: 16pt;
}
