.header-logo {
  font-family: Montserrat-Bold;
  color: #95e1d3;
  font-size: 30pt;
}
.nav-link {
  font-family: Montserrat-Regular;
  color: #95e1d3;
  font-size: 16pt;
}
.title-upertext {
  font-family: KaushanScript-Regular;
  font-size: 24pt;
}
.title {
  font-family: Montserrat-Bold;
  font-size: 30pt;
}
.service-text-main {
  font-family: Montserrat-Regular;
  font-size: 14pt;
}
.service-text {
  font-family: Roboto-Regular;
  font-size: 15pt;
  color: #999999;
}
.title-under-text {
  font-family: Roboto-Regular;
  color: #999999;
  font-size: 15pt;
}
.team-text-title {
  font-size: 14pt;
  font-family: Montserrat-Regular;
}
.team-text-text {
  font-size: 15pt;
  font-family: Roboto-LightItalic;
  color: #999999;
}
.footer-info {
  font-size: 14pt;
  font-family: Montserrat-Regular;
}
.footer-email-type-email {
  font-size: 15pt;
  font-family: Roboto-LightItalic;
}
.footer-info > span {
  color: #f38181;
}
.footer-email-type-submit {
  font-size: 14pt;
  font-family: Montserrat-Bold;
  color: #fff;
}