.header-logo{
  font-family: Roboto-Light;
  font-size: 30pt;
}
.nav-link{
  font-family: Open Sans-Bold;
  font-size: 14pt;
}
.header-logo::first-letter {
  color: #1abc9c;
  font-family: Roboto-Black;
}
.title {
  font-size: 48pt;
  font-family: Roboto-Black;
  text-transform: uppercase;
}
.products{
  font-family: Roboto-Black;
  color: white;
  font-size: 18pt;
}
.news-head{
  font-family: Open Sans-Semibold;
  font-size: 18pt;
}
.news-text{
  font-family: Open Sans;  
  font-size: 14pt;
}
.news-button {
  font-family: Open Sans-Light; 
  font-size: 16px;
}
